body {
  font-family: karla;
}

h1, h2, h3, h4, p {
  margin-left: 7%;
}

h1 {
  color:hsl(179, 62%, 43%);
  font-size:25px;
  font-weight:700;
  padding-top:5%;

}

h2 {
  color:hsl(71, 73%, 54%);
  font-size: 16px;
  padding: 1% 0;
}

h3 {
  color: hsl(204, 43%, 93%);
  font-size: 16px;
  padding: 5% 0;
}
h4{
  font-size:30px;
}
span{
  font-size:14px;
}

.btn {
  background-color: hsl(71, 73%, 54%);
  color: hsl(204, 43%, 93%);
  font-size: 16px;
  padding:5%;
}

.container {
  margin-top:10%;
  width: 40%;
}
.description {
  color: hsl(218, 22%, 67%);
  font-size: 14px;
  line-height:1;
}

.price {
  font-size: 13px;
  padding-bottom: 5%;
}

.subs-price {
  
  color: hsl(204, 43%, 93%);
  height: 250px;
}

.benefits-text {
  background-color: #74c7b8;
  color: hsl(204, 43%, 93%);
  font-size: 13px;
  height:250px;
  line-height:.75;

}
